<div id="countdown_user_<%=countdown_user.id%>">
	<table>
		<tr>
			<!-- Yuck! Style added so that the delete button aligns with the top of the title text. -->
			<td style="vertical-align:top;padding:10px;padding-top:20px;">
				<%= link_to 'X', countdown_user, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
			</td>
			<td>
<h2>
	<%=countdown_user.timer_title || "Untitled"%>
</h2>
<p class="lead">
	<% 
		#TODO move this stuff into a helper
		time_difference = Countdown::TimeDifference.new(Time.parse(countdown_user.time), Time.new) 
		countdown_datetime = Time.parse(countdown_user.time)
	%>
	<%if time_difference.time_difference > 0%>
	This countdown is set to expire in <b><%=time_difference.to_s%></b>, 
	<%else%>
	This count expired 
	<%end%>
	at <strong><%=countdown_datetime.strftime("%I:%M:%S %p")%></strong> on <strong><%=countdown_datetime.strftime("%A, %B %d")%></strong>.
</p> 
<%= form_for(countdown_user, remote: true, html: {class: "form-inline"}) do |f| %>
	<%=f.label :timer_title, class: "control-label" %>
	<%=f.text_field :timer_title %>
	<%=f.submit "Update", class: 'btn btn-primary' %>
<% end%>	
<div>
<%= link_to 'Remind me with Email', url_for(action: 'setup_scheduled_email', id: countdown_user), class: 'btn btn-primary' if countdown_user.user_scheduled_email.nil? %>
<%= link_to 'Cancel scheduled notification', url_for(action: 'remove_scheduled_email', id: countdown_user), class: 'btn btn-primary', data: {confirm: 'Are you sure?'} unless countdown_user.user_scheduled_email.nil? %>
</div>
<div style="padding-top:10px;">
<table>
<tr>
<td rowspan="2">
<!-- allow the user to set up a calendar alert -->
<%= link_to image_tag('ics_calendar.gif', alt: 'Set up an iCalendar event'), url_for(action: 'setup_calendar_event', id: countdown_user)%>
</td>
<td>
<a href="http://www.google.com/calendar/event?action=TEMPLATE&text=<%=countdown_user.timer_title%>&dates=<%=countdown_datetime.strftime("%Y%m%dT%H%M%SZ/%Y%m%dT%H%M%SZ")%>&trp=false&sprop=&sprop=name:" target="_blank"><img src="/assets/gc_button6.gif" border=0></a>
</td>
<td rowspan="2">
<a href="http://calendar.live.com/calendar/calendar.aspx?rru=addevent&dtstart=<%=countdown_datetime.strftime("%Y%m%dT%H%M%S")%>&&dtend=<%=countdown_datetime.strftime("%Y%m%dT%H%M%S")%>&summary=<%=countdown_user.timer_title%>" target="_blank"><img src="/assets/add_to_microsoft_outlook.jpg" alt="Set a reminder in Outlook Web Mail" /></a>
</td>
</tr>
<tr>
<td>
<a href="http://calendar.yahoo.com/?v=60&view=d&type=20&title=<%=countdown_user.timer_title%>&st=<%=countdown_datetime.strftime("%Y%m%d%H%M%S")%>" target="_blank"><img src="/assets/yahoo_calendar.gif" alt="Set a reminder in Yahoo Web Mail" /></a>
</td>
</tr>
</table>
</div>
</td>
</tr>
</table>
<hr/>
</div>
