<div id="countdown_user_<%=countdown_user.id%>">
<h2>
	<%=countdown_user.timer_title || "Untitled"%>
</h2>
<p class="lead">
	<% 
		#TODO move this stuff into a helper
		time_difference = Countdown::TimeDifference.new(Time.parse(countdown_user.time), Time.new) 
		countdown_datetime = Time.parse(countdown_user.time)
	%>
	<%if time_difference.time_difference > 0%>
	This countdown is set to expire in <b><%=time_difference.to_s%></b>, 
	<%else%>
	This count expired 
	<%end%>
	at <strong><%=countdown_datetime.strftime("%I:%M:%S %p")%></strong> on <strong><%=countdown_datetime.strftime("%A, %B %d")%></strong>.
</p> 
<%= form_for(countdown_user, remote: true, html: {class: "form-horizontal"}) do |f| %>
<div class="control-group">
	<%=f.label :timer_title, class: "control-label" %>
	<div class="controls">
		<%=f.text_field :timer_title %>
	</div>
</div>
<div class="control-group">
	<div class="controls">
		<%=f.submit "Update", class: 'btn btn-primary' %>
		<%= link_to 'Delete', countdown_user, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
	</div>
</div>
<% end%>	
<form class="form-horizontal">
<div class="control-group">
	<div class="controls">

<%= link_to 'Remind me with Email', url_for(action: 'setup_scheduled_email', id: countdown_user), class: 'btn btn-primary' if countdown_user.user_scheduled_email.nil? %>
<%= link_to 'Cancel scheduled notification', url_for(action: 'remove_scheduled_email', id: countdown_user), class: 'btn btn-primary', data: {confirm: 'Are you sure?'} unless countdown_user.user_scheduled_email.nil? %>
<!-- allow the user to set up a google calendar alert -->
<a href="http://www.google.com/calendar/event?action=TEMPLATE&text=<%=countdown_user.timer_title%>&dates=<%=countdown_datetime.strftime("%Y%m%dT%H%M%SZ/%Y%m%dT%H%M%SZ")%>&trp=false&sprop=&sprop=name:" target="_blank"><img src="//www.google.com/calendar/images/ext/gc_button2.gif" border=0></a>
<a href="http://calendar.live.com/calendar/calendar.aspx?rru=addevent&dtstart=<%=countdown_datetime.strftime("%Y%m%dT%H%M%S")%>&&dtend=<%=countdown_datetime.strftime("%Y%m%dT%H%M%S")%>&summary=<%=countdown_user.timer_title%>">Set a reminder in Windows Mail</a>

	</div>
</div>
</form>
</div>
<hr/>