<h1>Setup an email notification</h1>

<p>Setup an email notification to warn you when this timer is about to expire</p>

<%=form_for(@user_scheduled_email, :url => url_for(:action => 'schedule_email'), :method => :post) do |f| %>
	<%=f.label :email_address %>
	<%=f.text_field :email_address %>
	<br/>
	Notify me before timer expires: 
	5 minutes <%=radio_button_tag :send_before, "5"%>
	10 minutes <%=radio_button_tag :send_before, "10"%>
	1 hour <%=radio_button_tag :send_before, "60"%>
	2 hours <%=radio_button_tag :send_before, "120"%>
	<br/>
	<%=f.submit 'Schedule notification'%>
<% end %>