<h1>Create a calendar event</h1>

<p class="lead">Setup an iCalendar reminder</p>

<%=form_tag({:action => 'calendar_event', format: :ics}, method: :post, class: "form-horizontal") do %>
	<div class="control-group">
		<%= label_tag :send_before, "Alert me before timer expires:", class: "control-label", style: 'padding-top: 0px;'%>
		<div class="controls">
			5 minutes <%=radio_button_tag :send_before, "5"%>
			10 minutes <%=radio_button_tag :send_before, "10"%>
			1 hour <%=radio_button_tag :send_before, "60"%>
			2 hours <%=radio_button_tag :send_before, "120"%>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<%=submit_tag 'Create calendar event', class: 'btn btn-primary'%>
			<%= link_to 'Back', {controller: "countdown_users", action: :index}, class: 'btn btn-secondary' %>
		</div>
	</div>
<% end %>
