<p id="notice"><%= notice %></p>

<p>
  <strong>Background image:</strong>
  <%= @countdown_image_descriptor.background_image %>
</p>

<p>
  <strong>Background color:</strong>
  <%= @countdown_image_descriptor.background_color %>
</p>

<p>
  <strong>Text color:</strong>
  <%= @countdown_image_descriptor.text_color %>
</p>

<p>
  <strong>Pointsize:</strong>
  <%= @countdown_image_descriptor.pointsize %>
</p>

<p>
  <strong>Font weight:</strong>
  <%= @countdown_image_descriptor.font_weight %>
</p>

<p>
  <strong>Width:</strong>
  <%= @countdown_image_descriptor.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @countdown_image_descriptor.height %>
</p>

<p>
  <strong>Days position x:</strong>
  <%= @countdown_image_descriptor.days_position_x %>
</p>

<p>
  <strong>Days position y:</strong>
  <%= @countdown_image_descriptor.days_position_y %>
</p>

<p>
  <strong>Hours position x:</strong>
  <%= @countdown_image_descriptor.hours_position_x %>
</p>

<p>
  <strong>Hours position y:</strong>
  <%= @countdown_image_descriptor.hours_position_y %>
</p>

<p>
  <strong>Minutes position x:</strong>
  <%= @countdown_image_descriptor.minutes_position_x %>
</p>

<p>
  <strong>Minutes position y:</strong>
  <%= @countdown_image_descriptor.minutes_position_y %>
</p>

<p>
  <strong>Seconds position x:</strong>
  <%= @countdown_image_descriptor.seconds_position_x %>
</p>

<p>
  <strong>Seconds position y:</strong>
  <%= @countdown_image_descriptor.seconds_position_y %>
</p>


<%= link_to 'Edit', edit_countdown_image_descriptor_path(@countdown_image_descriptor) %> |
<%= link_to 'Back', countdown_image_descriptors_path %>
